<!DOCTYPE html>
<html>
  <head>
 <style>
      body {
        background-color: lightyellow; 
      }
    </style>
  </head>
  <body class="prose mx-auto">
<h1>Edit App post</h1>
<%= render partial: "form", locals: { app_post: @app_post } %>

<div class="delete-button-container" id="delete-button">
<%= button_to "Delete", app_post_path(@app_post), method: :delete, data: { turbo_confirm: "Are you sure you want to delete this post?" }, class: "delete-button", id: "delete-post-button", remote: true %>
</div>
<%= button_to  app_posts_path, method: :get, class: "back-button", remote: true do %>
  <span class="fas fa-spinner fa-spin" style="display: none;"></span>
      Back
    <% end %>
</body>
</html>

<script>
  $(document).ready(function() {
    $('#delete-post-button').click(function() {
      $.ajax({
        url: '<%= app_post_path(@app_post) %>',
        type: 'DELETE',
        dataType: 'script',
        headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') },
        success: function(response) {
          alert("successfull")
          windows.location.href = windows.location.href;
        },
        error: function(xhr, textStatus, errorThrown) {
          alert('Error during deletion.');
        }
      });
    });
  });
</script>

<script>
  $(document).on('click', '.back-button', function() {
    var $button = $(this);
    if (!$button.hasClass('disabled')) {
      $button.find('.fa-spinner').show();
      $button.addClass('animate-back-button');
      $.ajax({
        url: '<%= app_posts_path %>',
        type: 'GET',
        dataType: 'script',
        success: function(response) {   
        },
        error: function(xhr, textStatus, errorThrown) {
        },
        complete: function() {
          setTimeout(function() {
            $button.removeClass('animate-back-button');
            $button.removeClass('disabled');
            $button.find('.fa-spinner').hide();
          }, 3000); 
        }
      });
    }
  });
</script>
