<!DOCTYPE html>
<html>
  <head>
 <style>
      body {
        background-color: lightblue; 
      }
    </style>
  </head>
  <body class="prose mx-auto">
<h1>Show</h1>
<% if user_signed_in? %>
  <%= button_to "Edit", edit_app_post_path(@app_post), method: :get, class: "edit-button", remote: true %>
<% end %>

<% if @app_post.cover_image.present? %>
  <%= image_tag @app_post.cover_image %>
<% end %>

<h2><%= @app_post.title %></h2>
<%= @app_post.content %>

<p>
  <strong>Published At:</strong>
  <%= @app_post.published_at %>
</p>

<p>
  <strong>Comments:</strong>
  <div>
    <button id="comment">loading</button>
  </div>
</p>
<%= link_to 'Back', app_posts_path %>
</body>
</html>


<script>
  $(document).ready(function() {
    $('#comment').click(function() {
      $.ajax({
        url: '<%= comment_app_post_path(@app_post) %>', 
        type: 'PATCH', 
        dataType: 'script', 
         headers: {'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')},
        success: function(response) {
          alert("successfull")
          window.location.href = window.location.href;
        },
        error: function(xhr, textStatus, errorThrown) {
          alert('Error updating Published At.');
        }
      });
    });
  });
</script>