<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: lightblue;
    }
  </style>
</head>
<body class="prose mx-auto">
  <h1>Show</h1>
  <% if user_signed_in? %>
    <%= button_to edit_app_post_path(@app_post), method: :get, class: "edit-button", remote: true do %>
      <span class="fas fa-spinner fa-spin" style="display: none;"></span>
      Edit
    <% end %>
  <% end %>
  <% if @app_post.cover_image.present? %>
    <%= image_tag @app_post.cover_image %>
  <% end %>
  <h2><%= @app_post.title %></h2>
  <%= @app_post.content %>
  
  <p>
    <strong>Published At:</strong>
    <span id="published-at"><%= @app_post.published_at %></span>
  </p>

  <button id="publish-button" class="publish-button">
  <strong> Publish</strong>
  </button>

  <%= button_to  app_posts_path, method: :get, class: "back-button", remote: true do %>
  <span class="fas fa-spinner fa-spin" style="display: none;"></span>
  <strong> Back </strong>
  <% end %>

</body>
</html>


<script>
  $(document).on('click', '.edit-button', function() {
    var $button = $(this);
    if (!$button.hasClass('disabled')) {
      $button.find('.fa-spinner').show();
      $button.addClass('animate-edit-button');
      $.ajax({
        url: '<%= edit_app_post_path(@app_post) %>',
        type: 'GET',
        dataType: 'script',
        success: function(response) {   
        },
        error: function(xhr, textStatus, errorThrown) {
        },
        complete: function() {
          setTimeout(function() {
            $button.removeClass('animate-edit-button');
            $button.removeClass('disabled');
            $button.find('.fa-spinner').hide();
          }, 100); 
        }
      });
    }
  });
</script>

<script>
  $(document).on('click', '.back-button', function() {
    var $button = $(this);
    if (!$button.hasClass('disabled')) {
      $button.find('.fa-spinner').show();
      $button.addClass('animate-back-button');
      $.ajax({
        url: '<%= app_posts_path %>',
        type: 'GET',
        dataType: 'script',
        success: function(response) {   
        },
        error: function(xhr, textStatus, errorThrown) {
        },
        complete: function() {
          setTimeout(function() {
            $button.removeClass('animate-back-button');
            $button.removeClass('disabled');
            $button.find('.fa-spinner').hide();
          }, 100); 
        }
      });
    }
  });
</script>

<script>
  $(document).ready(function () {
    $('#publish-button').click(function () {
      $.ajax({
        type: 'patch', 
        url: '<%= publish_app_post_path(@app_post) %>', 
        data: {
          app_post: { published_at: new Date().toISOString() }, 
          authenticity_token: '<%= form_authenticity_token.to_s %>'
        },
        success: function (data) {
          $('#published-at').text('Published At: ' + new Date().toLocaleString());
          if (data.published) {
         $('#publish-button').text('Published');          }
        },
      });
    });
  });
</script>