<h1>Show</h1>
<% if user_signed_in? %>
  <%= button_to "Edit", edit_app_post_path(@app_post), method: :get, class: "edit-button", remote: true %>
<% end %>

<% if @app_post.cover_image.present? %>
  <%= image_tag @app_post.cover_image %>
<% end %>

<h2><%= @app_post.title %></h2>
<%= @app_post.content %>

<p>
  <strong>Published At:</strong>
  <%= @app_post.published_at %>
</p>

<%= link_to 'Back', app_posts_path %>
